body {
    font-size: 15pt;
}
h1{
font-size: larger;
  color: darkblue;
}
#blue-font{
  color: darkblue;
}

p{
  font-size: large;
}
a{
  text-decoration: none;
  color:darkblue;
}
body{
  background: lightgrey;
  text-align:center;
  padding:20px;
  
}
.profile-img{
  width: 50%;
  border-radius: 50%;
}
.btn {
  display: block;
  color: black
  padding:20px;
 background:white;
  margin:16px;
  box-shadow: 5px 10px #888888;
}